<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Url Shortner</title>
  </head>
  <body>
    <div class="Container">
      <h1>URL Shortner</h1>
      <form action="/" method="post">
        <label for="">Enter URL: </label><br />
        <input type="text" name="url" id="url" /><br />
        <label for="">Enter ShortCode: </label><br />
        <input type="text" name="shortCode" id="shortCode" /><br />

        <button type="submit">Shorten</button><br />
      </form>
      <h2>Shortened URLs</h2>

      <ul>
        <!-- {{shortened_urls}} -->

       <% 
      Object.entries(links)
        .map(
          ([shortCode, url]) => %>
            `<li><a href="/${shortCode}" target="_blank"><%= ${req.host}/${shortCode} %></a><%= ${url} %></li>`
       <% )
        .join("")
    );
    return res.send(content); %>

      </ul>
    </div>
    <script>
      
    </script>
  </body>
</html>
