<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Url Shortner</title>
  </head>
  <body>
    <div class="Container">
      <h1>URL Shortner</h1>
      <form action="/" method="post">
        <label for="">Enter URL: </label><br />
        <input type="text" name="url" id="url" /><br />
        <label for="">Enter ShortCode: </label><br />
        <input type="text" name="shortcode" id="shortcode" /><br />

        <button type="submit">Shorten</button><br />
      </form>
      <h2>Shortened URLs</h2>

      <ul>
        {{shortened_urls}}
      </ul>
    </div>
    <script>
      
    </script>
  </body>
</html>
